
# ==========================
# Python
# ==========================
backend/venv/
**/__pycache__/
*.pyc

# Environment Variables
backend/.env



# ==========================
# Node
# ==========================
frontend/node_modules/
frontend/dist/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db