.history-overlay{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.45);

    display:flex;

    justify-content:flex-end;

    z-index:999;

}

.history-panel{

    width:380px;

    height:100vh;

    background:var(--card);

    color:var(--text);

    display:flex;

    flex-direction:column;

    border-left:1px solid var(--border);

    animation:slideIn .25s ease;

}

@keyframes slideIn{

    from{

        transform:translateX(100%);

    }

    to{

        transform:translateX(0);

    }

}

.history-header{

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:22px;

    border-bottom:1px solid var(--border);

}

.history-header h2{

    font-size:22px;

    color:var(--text);

}

.history-list{

    flex:1;

    overflow-y:auto;

    padding:18px;

    display:flex;

    flex-direction:column;

    gap:12px;

}

.history-item{

    display:flex;

    gap:14px;

    padding:14px;

    border-radius:14px;

    cursor:pointer;

    background:var(--bg);

    border:1px solid var(--border);

    transition:.25s;

}

.history-item:hover{

    background:var(--card-hover);

    transform:translateX(3px);

}

.history-item svg{

    color:var(--primary);

    margin-top:4px;

}

.history-item h4{

    color:var(--text);

    font-size:15px;

    margin-bottom:4px;

}

.history-item p{

    color:var(--text-secondary);

    font-size:13px;

    overflow:hidden;

    white-space:nowrap;

    text-overflow:ellipsis;

}

.empty-history{

    flex:1;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:18px;

    color:var(--text-secondary);

}

.empty-history svg{

    color:var(--primary);

}

.history-list::-webkit-scrollbar{

    width:7px;

}

.history-list::-webkit-scrollbar-thumb{

    background:var(--border);

    border-radius:20px;

}